.task-column {
  color: white;
  border-radius: .75rem;
  border-top: 3px solid purple;
  background-color: #24262c;
  padding: .5rem;
  height: 100%;

  display: flex;
  flex-direction: column;

  &__item {
    margin: .5rem 0;
  }

  &__empty {
    color: lightgray;
    font-size: .9rem;
    justify-self: center;
  }
}
