<div class="task-column"
[ngStyle]="{'border-color': borderColor}"
>

  <span class="task-column__title">
    {{columnTitle}}
  </span>

  <app-single-task *ngFor="let singleTask of taskList"
  class="task-column__item"
  [title]="singleTask.name"
  [description]="singleTask.description"
  [deadlineDate]="singleTask.deadlineDate"
  [dateType]="singleTask.displayWarn ? 'warn' : 'success'"
  >
  </app-single-task>


  <div *ngIf="!taskList || taskList.length === 0" class="task-column__empty">
    There aren't any task with status: {{columnTitle}}
  </div>
</div>
