.input-primary {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid;
  font-family: inherit;
  border: 1px solid grey;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;

  &:disabled {
    background-color: lightgrey;
  }


  &__label {
    font-size: .7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 10rem;

  }
}
