.single-task {
  display: grid;
  grid-template-rows: 2rem 1fr 1.5rem;
  height: 10rem;
  border-radius: .75rem;
  background-color:  #404247  ;

  padding: 2rem;
  color: white;
  max-width: 15rem;

  &__content {
    overflow: hidden;
    font-size: .8rem;
  }

}
